.about-container {
  background-color: rgb(243, 243, 243);
  text-align: center;
}
.about-container ul {
  list-style: none;
}

.blockText {
  width: 40%;
  margin: 2rem auto;
  font-size: 1rem;
  gap: 2rem;
}

.buttonAbout {
  width: 230px;
  height: 60px;
  padding: 0px 16px;
  border-radius: 4px;
  background-color: rgb(66, 66, 255);
  border: none;
  font-size: 1.3rem;
  color: white;
}

.buttonAbout:hover {
  opacity: 0.5;
  cursor: pointer;
}

.imageCite {
  width: 500px;
  margin: 2rem auto;
}
